@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.spacer25 {
  height: 25px;
}

.spacer10 {
  height: 10px;
}

.blue-border {
	border: 1px solid blue;
}